<div class="p-6">

    <div class="flex items-center justify-between">

        <div>
            <label class="block mb-1 text-sm font-medium text-gray-500 text-t">Metodo de pago</label>
            <select [formControl]="id_metodoPago"
                class="w-80 bg-gray-50 border border-gray-300 text-textos text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
                @for (item of metodoPagoService.listMetodoPago(); track $index) {
                <option [value]="item.id_metodo_pago">{{item.nombre}}</option>
                }@empty {
                <option>No hay metodos de pago</option>
                }
            </select>
        </div>

        <button mat-raised-button color="primary" (click)="openDialog()">
            Agregar Producto
        </button>

    </div>

    <div class="rounded-xl overflow-hidden shadow-lg bg-white mt-4">
        <table class="w-full text-sm text-start text-textos">
            <thead class="text-sm text-textos uppercase border-b text-left">
                <tr>
                    <th scope="col" class="px-6 py-3">Producto</th>
                    <th scope="col" class="px-6 py-3">Cantidad</th>
                    <th scope="col" class="px-6 py-3">Precio U.</th>
                    <th scope="col" class="px-6 py-3">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @if(false){
                <tr class="bg-white border-b">
                    <td colspan="4" class="py-6">
                        <div class="flex justify-center items-center">
                            <div class="loader"></div>
                        </div>
                    </td>
                </tr>
                }@else {
                @for (item of listProductos(); track $index) {
                <tr class="bg-white border-b">
                    <td class="px-6 py-2">
                        {{item.nombre | formatTexto}}<br>
                        {{item.codigo | uppercase}}
                    </td>
                    <td class="px-6 py-2">
                        <div class="flex flex-row items-center">
                            <button mat-icon-button (click)="restarCantidad(item)">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <span class="mx-2">{{item.cantidad}}</span>
                            <button mat-icon-button (click)="sumarCantidad(item)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </td>
                    <td class="px-6 py-2">S/{{item.precio | number:'1.2-2'}}</td>
                    <td class="px-6 py-2">
                        <div class="flex justify-between items-center">
                            S/{{(item.precio * item.cantidad) | number:'1.2-2'}}
                            <button mat-icon-button (click)="quitarItem(item)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                } @empty {
                <tr class="bg-white border-b">
                    <td colspan="4" class="py-8">
                        <div class="flex flew-row items-center justify-center">
                            <mat-icon>hourglass_empty</mat-icon>
                            Sin Datos
                        </div>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>

        <div class="flex justify-between items-center px-6 py-2">
            <div class="flex flex-col">
                <span class="text-sm">Total</span>
                <span class="text-2xl font-bold">S/{{getTotal() | number:'1.2-2'}}</span>
            </div>
            <button mat-raised-button (click)="guardar()" color="primary">
                Guardar
            </button>
        </div>
    </div>