<app-autocomplete></app-autocomplete>
<!--
<div class="flex items-center gap-3">

    <div class="flex flex-col">
        <label class="">Producto</label>
        <input [formControl]="producto" type="text" class="text-p1-950">
    </div>
    <button class="px-3 py-0 h-9 bg-p1-700 hover:bg-p1-600 active:bg-p1-800 text-white rounded shadow-sm"
        (click)="buscar()">Buscar</button>
</div>

<div [@openClose]="list2.length > 0 ? 'open' : 'closed'">
    @if (list2.length > 0) {
    @for (item of list2; track $index) {
    <div class="flex flex-row gap-2 items-center py-2 ps-4 cursor-pointer hover:bg-p1-600 hover:text-white" (click)="cl(item)">
        <mat-icon>home</mat-icon>
        {{item}}
    </div>
    }
    }
</div>
-->